html {
	min-height: 100%;
}

body {
	color: #889;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.3;

	min-height: 100%;
	margin: 0;
	padding: 0;

	letter-spacing: 0.1em;

	background-color: #141400;
	background-image: url('bg_large.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#page,
footer {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjUiIGN5PSI1IiByPSI1IiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIwLjA1IiAvPjwvc3ZnPg==') repeat;
	background-size: 4px;
}

#page {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;

	table-layout: fixed;

	text-align: center;

	border-top: 5px solid #000;
	background-color: rgba(28, 28, 24, 0.8);
	-moz-box-shadow: 0 -1em 10em #000;
	     box-shadow: 0 -1em 10em #000;
}

header {
	vertical-align: middle;
}

#logo {
	position: relative;
	z-index: 3;

	box-sizing: border-box;
	max-width: 100%;
	height: 9em;
	margin: -2.5em 0;
	padding: 1em;

	pointer-events: none;

	fill: #fff;
	-webkit-filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.4));
	        filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.4));
}

main {
	color: #ffa74e;

	margin: auto 0;

	vertical-align: middle;
}

footer {
	font-size: 0.9em;

	padding: 2.6em 4em 1.2em;

	text-align: center;

	background-color: rgba(0, 0, 0, 0.8);
}

footer ul {
	padding: 0;

	list-style: none;
}

footer p,
footer ul {
	display: inline-block;
}

footer ul {
	margin: 0;
}

footer p,
footer li {
	display: inline-block;

	margin: 0 1em;
}

.home h1 {
	font-size: 1em;

	margin: 0;
}

h1 {
	font-size: 5em;

	margin: 0.67em;
}

h2 {
	font-weight: inherit;
}

p {
	margin: 0.5em 0;
}

a {
	color: inherit;

	text-decoration: none;
}

a:hover {
	color: #00c93f;
}

#links,
#controlls {
	margin: 2.2em 0;
}

#links {
	font-size: 0.9em;

	padding: 0;

	list-style: none;
}

#links li {
	display: inline-block;

	margin: 0 2em;
}

.icon,
button:focus .icon,
button:active .icon {
	fill: #ffa74e;
}

a:hover .icon,
button:hover .icon {
	fill: #00c93f;
}

.icon-soundcloud {
	width: 7em;
	height: 3.0373em;
}

.icon-facebook {
	width: 4em;
	height: 4em;
}

.icon-youtube {
	width: 4.2em;
	height: 5.07906em;
}

.icon-mx3 {
	width: 5.5em;
	height: 3.21518987342em;
}

#controlls button {
	display: inline-block;

	margin: 0;
	margin: 0 0.8em;
	padding: 0;

	cursor: pointer;
	vertical-align: middle;

	border: none;
	background: none;
}

.icon-prev,
.icon-next {
	width: 2.57926829268em;
	height: 1.5em;
}

.icon-play {
	width: 1.732em;
	height: 2em;
}

.icon-pause {
	width: 1.732em;
	height: 2em;
}

#prev,
#next {
	height: 1.5em;
}

#controlls #pause {
	display: none;
}

.playing #controlls #play {
	display: none;
}

.playing #controlls #pause {
	display: inline-block;
}

#current-song-container {
	display: inline-block;
	overflow: hidden;

	width: 0;
	margin: 0;

	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
	-webkit-transition-property: all;
	        transition-property: all;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}

#time-rail,
#time,
#loaded {
	height: 0.6em;
}

#time,
#loaded {
	position: absolute;
	left: 0;

	margin: 0;
}

#time,
#loaded {
	position: absolute;
	top: 0;
}

#time-rail {
	position: relative;

	width: 100%;

	cursor: pointer;

	background-color: #fff;
}

#time {
	pointer-events: none;

	background-color: #00c93f;
}

#loaded {
	background-color: #ffa74e;
}

@media screen and (max-width: 80em) {
	body {
		font-size: 0.9em;
	}

	body::before {
		bottom: 19.5em;
	}

	#links {
		font-size: 0.8em;
	}

	#links li {
		margin: 0 1em;
	}
}

@media screen and (max-width: 55em) {
	html,
	body {
		height: auto;
	}

	body {
		background-image: url('bg_small.jpg');
		background-position: top center;
		background-size: 100% auto;
	}

	#page {
		position: relative;

		margin-top: 100%;

		-moz-box-shadow: 0 -1em 5em #000;
		     box-shadow: 0 -1em 5em #000;
	}

	#current-song-container {
		display: block;

		width: 0;
		margin: 2em auto;
	}

	#current-song {
		display: inline;
	}

	header,
	main,
	footer p,
	footer ul,
	footer li {
		display: block;
	}

	header {
		text-align: center;
	}

	#logo {
		height: 7em;

		-webkit-filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
		        filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
	}

	main {
		position: static;

		padding-top: 3em;
	}

	#time-rail {
		margin-top: 4em;
	}

	footer ul,
	footer ul {
		margin: 1em 0;
	}

	footer {
		position: static;

		padding: 5em 1em 15em;
	}
}

@media screen and (max-width: 25em) {
	body {
		font-size: 0.8em;
	}

	#logo {
		height: 6em;
	}

	#links {
		font-size: 0.7em;
	}
}
